.title {
    margin-top: 0.5rem;
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-white-soft);
}

.degree {
    font-size: var(--font-size-2xl);
    color: var(--color-text-primary);
    opacity: 0.8;
}

@media (min-width: 768px) {
    .title {
        font-size: var(--font-size-3xl);
    }
}


.description {
    margin-top: var(--font-size-md);
    color: var(--color-text-primary);
    font-size: var(--font-size-lg);
    text-align: justify;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    color: var(--color-primary-dark);
}

.list {
    padding-left: 1.5rem;
    list-style-type: disc;
}

.careerGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.careerGrid > * {
    flex: 1 1 100%;
    max-width: 100%;
}

@media (min-width: 640px) {
    .careerGrid > * {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media (min-width: 1024px) {
    .careerGrid > * {
        flex: 1 1 calc(33.333% - 1rem);
        max-width: calc(33.333% - 1rem);
    }
}

.alumniGrid {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 640px) {
    .gridInfo {
        grid-template-columns: 1fr;
    }
}
