.container {
    margin: 0 auto;
    line-height: 1.2;
    border-radius: 12px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* Бордер и тень */
    box-shadow: 0 4px 16px var(--color-shadow);

    /* Скролл */
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-gutter: stable;

    /* Сглаживание скролла (опционально) */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-light) transparent;
}

/* Кастомизация скроллбара для WebKit */
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-light);
}


.heading {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.subheading {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.5rem 0 0.75rem;
    color: var(--color-primary);
}

.paragraph {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.list {
    list-style-type: disc;
    padding-left: 1.4rem;
    font-size: 1.2rem;
}

.block {
    margin-bottom: 1.2rem;
}

.conclusion {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
}
